body {

    margin: 10px;
    padding: 10px;
    font-family: sans-serif;

}


header {

    background-color: chartreuse;
    
}

/* inicio menu movil*/

/* estilo del menu */
.topnav {
  overflow: hidden;
  background-color: rgb(192, 198, 204);
  position: relative;
}

/* estilos links del menu */
.topnav a {
  color: rgb(63, 92, 71);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* estilo menu hamburguesa */
.topnav a.icon {
  background: rgb(6, 71, 60);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* agrego color al menu de hamburguesa cuando el raton lo apunte y al background tambien */
.topnav a:hover {
  background-color: rgb(92, 123, 163);
  color: rgb(156, 20, 20);
}

/* agrego estilo a la etiqueta p del menus topnav */
.topnav p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 10px;
  text-align: right;
  color: #2c3d05;
}

/* fin menu    */

main {
    background-color: burlywood;
}

main h1 {

  font-size: medium;
}

main p {

  font-size: small;
  font-family: monospace;
  text-justify: auto;
}

/* inicio fila y columna imagenes movil */

.fila {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.columna {
  flex: 0%;
  padding: 5px;
}

/* fin de fila y columna imagenes movil */


footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}



@media (min-width: 540px) {

    p {font-size: 20px;}
    .topnav {display: none;}
    main p { font-size: large;}
    main h1 {font-size: large;}
        

}

@media (min-width: 900px) {

    p {font-size: 60px;}
    .topnav {display: none;}
    main p { font-size: x-large;}
    main h1 { font-size:xx-large;}
    

  
}




/* 

E63946
F1FAEE
A8DADC

https://images.unsplash.com/photo-1599785209796-786432b228bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80
https://images.unsplash.com/photo-1519340333755-56e9c1d04579?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80
https://images.unsplash.com/photo-1590563139809-7f7ed0d27b5c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80


